#===============================================================================
# Ignore TSD Test Suites
#===============================================================================

*.test-d.ts
